<main class="d-flex flex-column align-items-center justify-content-center">
  <app-search-box></app-search-box>

  <section>
    <ul class="list-group list-group-horizontal-md">
      <div *ngFor="let hero of heroes$ | async">
        <app-hero-box [hero]="hero"></app-hero-box>
      </div>
    </ul>

    <div
      *ngIf="!(heroes$ | async)"
      class="spinner-grow"
      style="width: 3rem; height: 3rem; margin-top: 2rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </section>
</main>
