body {
  background-color: #fffbf5;
}

main {
  padding: 5%;
}

#title {
  font-size: 2.5em;
  font-weight: bold;
  color: #fa4454;
  text-align: center;
}

span {
  color: #dc3d4b;
}

section {
  margin: 3rem;
  overflow: auto;
  white-space: nowrap;
  background-color: #eeeeee;
  border-radius: 10px;
}

.heroBox {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.spinner-grow {
  width: 3rem;
  height: 3rem;
  margin-top: 2rem;
}

.picked-heroes {
  text-align: center;
  padding: 14px;
}

.picked-heroes-title {
  text-align: center;
  padding: 14px;
  font-weight: bold;
}

.modal-body {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: darkgreen;
}
