<main>
  <app-search-box></app-search-box>

  <section style="background-color: aqua">
    <div class="heroBox" *ngFor="let hero of heroes$ | async">
      <app-hero-box [hero]="hero"></app-hero-box>
    </div>

    <div *ngIf="!(heroes$ | async)" class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    
  </section>

  <section style="background-color: aqua">      
    <div class="picked-heroes-title">
      <p>Heroes you picked</p>
    </div>
    
    <div *ngIf="!(pickedHeroes)" class="picked-heroes">
      <p>Choose your hero</p>
    </div>

    <div class="heroBox" *ngFor="let hero of pickedHeroes">
      <button (click) = "removeHero(hero)">
        <img src="../../../assets/close.png" alt="">
      </button>
      <app-hero-box [hero]="hero"></app-hero-box>
    </div>
    
  </section>

</main>
