input {
  border: none;
  width: 100%;
}

#container {
  display: flex;
  margin: 0 auto;
  width: 45%;
  border: 2px solid #fa4454;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 1rem;
}

img {
  width: fit-content;
}
